.navitem{
    color : #3a3535
}

.lightgrey{

    color: #f4f4f4;
    background-color: #3a3535;

}

.darkgrey{

    color: #f4f4f4;
    padding: 4px;
    background-color: #232020;

}

body{
    /*background-color: #fff2e9;*/
    background-color: #ededed;
}

